<div style="padding: 20px; max-width: 550px; margin: 0 auto;">
  <div>
    <img src="/s/logos/logo_60.png">
  </div>
  <div>
    <p>To join this channel, copy this url and paste it in your favorite Channels client.</p>
    <div class="horizontal layout center">
      <div class="flex" style="padding-right: 10px;"><input id="txtCode" type="text" value="{{sharecode}}"></div>
      <div><button id="btnCopy">Copy</button></div>
    </div>
    <p>If you do not have a client, you can use our web client: </p>
    <p><a href="https://app.channelelements.com/#join/{{encodedsharecode}}">Open web client</a></p>
  </div>

  <script>
    var btn = document.querySelector("#btnCopy");
    btn.addEventListener("click", function () {
      var txt = document.querySelector("#txtCode");
      txt.select();
      try {
        document.execCommand('copy');
      } catch (err) { }
    });
  </script>
</div>